<main style="min-height: calc(100% - 56px - 56px);">
  <div class="container py-5" style="height: 100%;">
    {% if page == "aspirations" %}
      {% include "/content/aspirations/index.jinja2" %}
    {% else %}
      {% include "/content/actions/index.jinja2" %}
    {% endif %}
  </div>
</main>
