:root {
  --primary: #a58855;
}

.badge-primary {
  background-color: var(--primary)
  color: white
}

.text-primary {
  color: var(--primary) !important;
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  border-color: var(--primary)
}

.btn-primary:hover {
  background-color: var(--primary);
  color: white !important;
  border-color: var(--primary)
}

.btn-outline-primary {
  border-color: var(--primary);
  color: var(--primary) !important;
}

.btn-outline-primary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: white !important;
}

html, body {
    height: 100%;
}

.bg-primary {
  background-color: var(--primary) !important;
  color: white !important;
}

nav a {
  color: white !important;
}

a {
  text-decoration: none;
}

.sticky-footer {
  height: 56px;
}

.card {
  color: #484848;
}

.card:hover .btn-primary {
  color: #484848 !important;
}

/* .card:hover{
    box-shadow: 8px 8px 5px blue;    
    transform: scale(1.1);
} */