<footer class="sticky-footer" style="border: 1px solid #a58855;">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col">
        <p class="mb-0 text-primary">
          Copyright © FinestSelf 2020
        </p>
      </div>
      <div class="col text-center">
            <a class="btn btn-primary btn-social mx-2" href="#!"
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-primary btn-social mx-2" href="#!"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-primary btn-social mx-2" href="#!"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
      <div class="col">
          <div class="ml-auto">
              <a href="#!" style="float:right" class="mr-2 text-primary" >Terms of Use</a>
              <br>
              <a  href="#!" style="float:right" class="mr-2 text-primary">Privacy Policy</a>
          </div>
      </div>
    </div>
  </div>
</footer>