<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
      <a class="navbar-brand text-bold" href="/">FinestSelf</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            {% if page == 'aspirations' %}
                <a class="nav-link active" aria-current="page" href="/aspirations">Aspirations</a>
            {% else %}
                <a class="nav-link" href="/aspirations">Aspirations</a>
            {% endif %}
            </li>
            <li class="nav-item">
              {% if page == 'actions' %}
                  <a class="nav-link active" aria-current="page" href="/actions">Actions</a>
              {% else %}
                  <a class="nav-link" href="/actions">Actions</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
      
    </div>
  </nav>
