<div class="modal fade" id="addModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addModalLabel">Add an Aspiration</h5>
          </div>
          <div class="modal-body">
            <form action="/aspirations" method="post">
            {# This is a typical post request form #}
              {# You'll find the _method variable being defined here, this is to help the post route differentiate forms and conclude logic #}
              <input type="hidden" name="_method" value="post" />
              <div class="mb-3">
                <label for="name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" id="name" name="name">
              </div>
              <div class="mb-3">
                <label for="description" class="col-form-label">Description:</label>
                <textarea class="form-control" id="description" name="description"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <input type="submit" value="Add" name="add" class="btn btn-primary">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>