<h2 class="w-50 mx-auto">What aspiring characteristics would you like to have? (it could be Couragous, Generous...)</h2>
<h3 class="w-50 mx-auto">Define at least one<h3>
<div class="row row-cols-1 row-cols-3 g-4 mt-4">
  <div class="col" style="height: 150px;">
    <!-- Button trigger modal -->
    <button class="btn btn-outline-primary h-100 w-100 rounded-lg shadow" type="button" data-bs-toggle="modal" data-bs-target="#addModal">
    Add One
    </button>

    <!-- Add Modal -->
    {% include "/content/aspirations/add_modal.jinja2" %}
  </div>
  {% for card in  main_data %}
      {# Card trigger modal #}
      <div class="col" style="height: 150px;">
        <div class="card hover rounded-lg shadow h-100" data-bs-toggle="modal" data-bs-target="{{ '#modal_' ~ card._id }}">
            <div class="card-body">
                <h5 class="card-title">
                    {{ card.name }}
                </h5>
                <hr>
                <p class="card-text text-truncate">
                    {{ card.description }}
                </p>
            </div>
        </div>
      </div>
      
      {# Edit Modal #}
      {% include "/content/aspirations/edit_modal.jinja2" %}
  {% endfor %}

</div>
